body{
    background-color: #fefffe;
}

a {
    text-decoration: none;
}
button{
    border: none;
    background-color: transparent;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav div button img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
header nav ul{
    display: flex;
}
header nav ul li a{
margin-right: 1.5rem;
color: #333;
font-size: 0.9rem;
}
header nav ul li a:hover {
text-decoration: underline;
}
header nav .bento-menu ul.menu:hover{
    background-color: #d8d8d8;
}
header nav .bento-menu {
    margin-right: 1.5rem;
    position: relative;
}

header nav .bento-menu ul.menu {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 0.2rem;
padding: 0.5rem;
border-radius: 50%;
cursor: pointer;
}

header nav .bento-menu ul.menu li{
    width: 0.3rem;
    height: 0.3rem;
    background-color: #333;
    border-radius: 50%;
}

header nav .bento-menu article.open {
min-width: 200px;
right: 1rem;
top: 4rem;
background-color: #fff;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
border-radius: 0.625rem;
opacity: 1;
}

header nav .bento-menu article {
    opacity: 0;
    position: absolute;
    top: -100vh;
    right: 1rem;
}


header nav .bento-menu article ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
    place-items: center;
}
header nav .bento-menu article ul li:hover{
    background-color: #d7fefd;
    cursor: pointer;
}

header nav .bento-menu article ul li i{
    font-size: 2rem;
    color: #333;
    padding: 1rem;
}


header nav .bento-menu article ul li{
    border-radius: 0.625rem;
}

header nav .bento-menu article ul li img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

}

/* section styling*/
.search-bar{
    text-align: center;
    padding: 3rem 1.5rem 2rem;
}
.search-bar img {
    width: 16rem;
    margin-bottom: 2rem;
}
.search-bar form{
    position: relative;
    max-width: 600px;
    margin: auto;
    
}
.search-bar form label{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #cacaca;
}
.search-bar form input:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.search-bar form input{
    padding: 1rem;
    width: 100%;
    max-width: 600px;
    border-radius: 30px;
    border: 3px solid #e5e5e5;
    cursor: pointer;
    transition: 0.3s;
}

/* div class of button*/
.buttons{
    text-align: center;
}

.buttons ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.buttons ul li:first-child{
    margin-right: 0.625rem;
}
.buttons ul li button {
    background-color: #ededed;
    padding: 0.625rem 1rem;
    border-radius: 0.2rem;
    transition: 0.3s;
    cursor: pointer;
}

.buttons ul li button:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.buttons small span{
    color: indigo;
    text-decoration: none;
    cursor: pointer;
}

/* footer styling*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ededed;
    padding: 1rem 0;
}
.footer p{
    text-align: center;
    color: #6f6f6f;
    padding: 1rem 0;
    font-size: 0.9rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .location{
    border-bottom: 1px solid #919191;
}
.footer .location h4 {
    color: #6f6f6f;
    font-weight: normal;
    padding: 0 0 1.5rem 1.5rem;
}

.footer p img {
width: 0.9rem;
margin-right: 0.2rem;
}
/*.footer ul li a{
    color: #333;
}*/
.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer ul li{
    color: #6f6f6f;
    font-size: 0.9rem;
}
.footer ul li{
    margin: 0 1rem 0.5rem 0;
}
.footer ul:first-child{
    padding: 0.5rem 1.5rem 2rem;
}



@media (min-width: 768px) {
    .search-bar img {
        width: 24rem;
    }
}

@media (min-width: 1024px){
    .footer article{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem ;
    }
    .footer ul li{
        margin-bottom: 0;
    }
}
